body{
    padding: 200px;
}

.iButton{
    width: 200px;
    height: 100px;
    border-radius: 0px;
    border: none;
    background-color: orange;
    position: relative;
    z-index: 5;
    box-shadow:
    border 2px solid white;
}

.iButton::after{
    content: " ";
    position: absolute;
    height: 40%;
    width: 40%;
    /* aspect-ratio: 1/1; */
    /* background-color: orange; */
    border: 2px solid orange;
    right: -3px;
    bottom: -3px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.iButton::before{
    content: " ";
    position: absolute;
    height: 40%;
    width: 40%;
    /* aspect-ratio: 1/1; */
    /* background-color: orange; */
    border: 2px solid orange;
    left: -3px;
    top: -3px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.iButton:hover::before,
.iButton:hover::after{
    height: 80%;
    width: 80%;
}