body{
    padding: 200px;
}

.iButton{
    width: 200px;
    height: 100px;
    border-radius: 0px;
    border: none;
    background-color: orange;
    position: relative;
    z-index: 5;
    box-shadow:
    border 2px solid white;
}

.iButton::after{
    content: " ";
    position: absolute;
    height: 30%;
    width: 30%;
    border: 4px orange;
    border-style: none solid solid none;
    right: -6px;
    bottom: -6px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.iButton::before{
    content: " ";
    position: absolute;
    height: 30%;
    width: 30%;
    border: 4px orange;
    border-style: solid none none solid;
    left: -6px;
    top: -6px;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

.iButton:hover::before,
.iButton:hover::after{
    height: 90%;
    width: 90%;
}